@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto Mono", serif;
}

.form-group {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}

.text-error {
  color: red;
  font-size: 14px;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

label {
  font-size: 14px;
  margin-bottom: 0.2rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #b1b1b1;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  font-weight: 500;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}
